.card-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 200px;
    margin-top: 10vh;
    justify-content: center;
    margin-left: 10%;
}
.card-container-card {
    margin-bottom: 20px;
}
.card-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    
}
